# Парсинг курсов валют

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('data/Raifdata.csv')

/Users/viktoruymanov/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (2,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
data

,Unnamed: 0,amount,atm_address,atm_address_lat,atm_address_lon,city,country,currency,customer_id,home_add_lat,home_add_lon,mcc,pos_address,pos_adress_lat,pos_adress_lon,terminal_id,transaction_date,work_add_lat,work_add_lon
0,0,2.884034,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,NaN,59.844072,30.179153,11606fde0c814ce78e0d726e39a0a5ee,2017-07-15,59.847,30.177
1,3,2.787498,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,NaN,59.844072,30.179153,6c5e5793ebc984fb72875feffff62854,2017-09-09,59.847,30.177
2,4,2.892510,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,NaN,59.844072,30.179153,0576445d74e374c92c0902e612fca356,2017-07-06,59.847,30.177
3,5,2.909018,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,NaN,59.844072,30.179153,af0d099257ccedbfe730c63a491e0d84,2017-08-23,59.847,30.177
4,6,2.801228,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,NaN,59.844072,30.179153,0576445d74e374c92c0902e612fca356,2017-07-29,59.847,30.177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047185,1224729,2.601024,NaN,NaN,NaN,MOSKVA,RUS,643.0,381bcceaad6c0d72a795e2f09950b3af,55.676,37.872,6011,NaN,NaN,NaN,fff0535ce27b0551cb1da1ef6852895e,2017-03-06,NaN,NaN
1047186,1224730,2.717837,NaN,NaN,NaN,MOSKVA,RUS,643.0,90ffc453a1c176755ef9225a77df81a1,55.502,37.582,6011,NaN,NaN,NaN,fff0535ce27b0551cb1da1ef6852895e,2017-03-18,NaN,NaN
1047187,1224731,2.859485,NaN,NaN,NaN,MOSKVA,RUS,643.0,90ffc453a1c176755ef9225a77df81a1,55.502,37.582,6011,NaN,NaN,NaN,fff0535ce27b0551cb1da1ef6852895e,2017-02-26,NaN,NaN
1047188,1224732,3.715220,NaN,NaN,NaN,MOSKVA,RUS,643.0,5b4e3e9f63d011a61a8d4fa065b6fa97,55.716,37.787,6011,NaN,NaN,NaN,fff0535ce27b0551cb1da1ef6852895e,2017-02-20,55.734,37.662
1047189,1224733,3.865356,NaN,NaN,NaN,MOSKVA,RU,643.0,a5dddded8ca6fee2441dd4f930e38d0d,55.652,37.536,6011,NaN,NaN,NaN,fff12255d4b209aef890e66ddb7951b0,2017-02-24,55.752,37.535

In [6]:
data.country = data.country.apply(lambda x: x.strip())

In [7]:
data['country'] = data['country'].replace('RU', 'RUS')

In [8]:
data = data[(data.currency == 643.) & (data.country == 'RUS')]

In [10]:
data['transaction_date'] = pd.to_datetime(data['transaction_date'])

/Users/viktoruymanov/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
from tqdm import tqdm

In [15]:
from datetime import datetime, timedelta
import numpy as np
from forex_python.converter import CurrencyRates
t = np.arange(data.transaction_date.min(),data.transaction_date.max(),timedelta(days=1)).astype(datetime)

In [22]:
tqdm.pandas()
time_frame = pd.DataFrame(t)
c = CurrencyRates()
time_frame['currency'] = time_frame[0].progress_apply(lambda x: c.get_rate('USD', 'RUB', x))

100%|██████████| 246/246 [03:25<00:00,  1.20it/s]

In [36]:
time_frame.to_csv('time_currency.csv')

# Обработка mcc

In [6]:
mcc = pd.read_excel('data/mcc.xlsx', sheet_name = 'Sheet1')

In [7]:
mcc

,Пища,Одежда,Жилье,Здоровье,Красота,Деньги,Транспорт,Дети,Непродовольственные,Телеком,Развлечения,Благотворительность,Прочее
0,5411.0,5691.0,5211.0,5912.0,5977.0,6011.0,4111.0,5641.0,5331.0,4814.0,5921,8398.0,8999.0
1,5814.0,5651.0,4900.0,8099.0,7230.0,6536.0,5541.0,5945.0,5999.0,4816.0,5813,NaN,7299.0
2,5499.0,5661.0,5712.0,8011.0,7298.0,6012.0,4121.0,5943.0,5311.0,5732.0,5993,NaN,7311.0
3,5812.0,5621.0,5261.0,8021.0,5631.0,6538.0,4131.0,8299.0,5200.0,4812.0,5995,NaN,7399.0
4,5462.0,5699.0,5719.0,8043.0,NaN,6010.0,7512.0,8220.0,5399.0,9402.0,5192,NaN,9399.0
5,5441.0,5949.0,5251.0,8071.0,NaN,9311.0,4784.0,NaN,5931.0,4215.0,5816,NaN,NaN
6,5422.0,NaN,5714.0,8062.0,NaN,9222.0,4112.0,NaN,5948.0,4899.0,5992,NaN,NaN
7,5451.0,NaN,5039.0,NaN,NaN,6051.0,5533.0,NaN,NaN,NaN,5735,NaN,NaN
8,5309.0,NaN,5722.0,NaN,NaN,6540.0,7011.0,NaN,NaN,NaN,5942,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,6300.0,7523.0,NaN,NaN,NaN,7832,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,7542.0,NaN,NaN,NaN,5941,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,5511.0,NaN,NaN,NaN,7995,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,4511.0,NaN,NaN,NaN,5947,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,5542.0,NaN,NaN,NaN,7922,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,4789.0,NaN,NaN,NaN,5944,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,7538.0,NaN,NaN,NaN,7997,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,3011.0,NaN,NaN,NaN,7999,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5193,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7941,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,742,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7991,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7221,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7841,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5815,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4722,NaN,NaN

In [ ]:
all_mcc = pd.DataFrame(mcc.unstack().dropna()).reset_index().set_index(0).drop(['level_1'], axis = 1)
all_mcc.to_csv('mcc_done.csv')

In [ ]:
var_s = ['I', 'V', 'X']
for values in mcc.values:
    value_itself = values[0]
    if value_itself.startswith(tuple(var_s)):
        
        print(value_itself)

# Соединение mcc, курса валют с общей таблицей

In [ ]:
currency.currency = currency.currency/currency.currency[0]
currency.columns = ['transaction_date', 'currency_rate']
currency.transaction_date = pd.to_datetime(currency['transaction_date'])
data = pd.merge(data, currency, on = 'transaction_date')

In [ ]:
to_replace = mcc.to_dict()['level_0']
data['mcc'] = data.mcc.replace(to_replace)
data.to_csv('merged_curr_mcc.csv')

# Парсинг географии

Парсинг координат городов

In [10]:
df = pd.read_csv('data/merged_curr_mcc.csv')
df.iloc[:,2:]

/Users/viktoruymanov/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,amount,atm_address,atm_address_lat,atm_address_lon,city,country,currency,customer_id,home_add_lat,home_add_lon,mcc,pos_address,pos_adress_lat,pos_adress_lon,terminal_id,transaction_date,work_add_lat,work_add_lon,currency_rate
0,2.884034,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,Жилье,NaN,59.844072,30.179153,11606fde0c814ce78e0d726e39a0a5ee,2017-07-15,59.847,30.177,0.991001
1,2.838200,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,Жилье,NaN,59.844072,30.179153,0576445d74e374c92c0902e612fca356,2017-07-15,59.847,30.177,0.991001
2,2.850720,NaN,NaN,NaN,NOVOSIBIRSK,RUS,643.0,0e4c72f1c28452fe3bab0283381b8afd,54.993,82.846,Пища,3 KARLA MARKSA SQNOVOSIBIRSK630048 RUSRUS,54.983245,82.891522,c88255ca0706d0ba02c6dfdeb10a0a9b,2017-07-15,NaN,NaN,0.991001
3,3.360791,NaN,NaN,NaN,MOSKVA,RUS,643.0,2197c215d2b24cc405b9ada9c258805c,55.812,37.641,Пища,"KRIVOKOLENNYY PER,10MOSKVA101000 RUSRUS",55.761528,37.636171,60642ad0e52d3a3b19687090b9468a4d,2017-07-15,NaN,NaN,0.991001
4,3.569982,NaN,NaN,NaN,MOSKVA,RUS,643.0,2197c215d2b24cc405b9ada9c258805c,55.812,37.641,Пища,"KRIVOKOLENNYY PER,10MOSKVA101000 RUSRUS",55.761528,37.636171,1b881909d9af94d48b368c42fd6cce4e,2017-07-15,NaN,NaN,0.991001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041844,3.335253,"Санкт-Петербург, бул. Новаторов, д. 11",59.850,30.267,ST-PETERSBURG,RUS,643.0,d29f7d1c13c125709420943decb8dffa,59.939,30.361,Деньги,NaN,NaN,NaN,f71fe06857a98c7248fa510962b0a138,2017-01-31,59.874,30.275,0.997263
1041845,3.311139,T\CHELYABINSK\454080 RUSRUS,NaN,NaN,CHELYABINSK,RUS,643.0,7db9c6f41786fd2e2b0473e9793b1082,55.162,61.380,Деньги,NaN,NaN,NaN,fad6012c4f124b2c17098156b06a8457,2017-01-31,55.191,61.362,0.997263
1041846,2.843263,"Санкт-Петербург, пр. Пискарёвский, д. 2, корп.2Щ",59.983,30.434,ST-PETERSBURG,RUS,643.0,eeb7bf69c619bb452bcb335ed855a1cf,60.042,30.361,Деньги,NaN,NaN,NaN,fd2bb60aecd9fcfc6e4f8bf946660528,2017-01-31,NaN,NaN,0.997263
1041847,4.264597,"YRSKIJ,D.4\S.-PETERBURG\190000 RUSRUS",NaN,NaN,S.-PETERBURG,RUS,643.0,e36f74c740a26962573e21af66c6f551,60.000,30.283,Деньги,NaN,NaN,NaN,ff052fc18d2fc476351815ce7c4c4226,2017-01-31,59.912,30.354,0.997263
1041848,4.080221,"Саратов, ул. Аэропорт, д. 14",51.556,46.036,SARATOV,RUS,643.0,83040d13131c10d215839fea3ff656ad,51.607,45.952,Деньги,NaN,NaN,NaN,fff018947ba860cd557a4cbbf9d005fc,2017-01-31,51.555,46.041,0.997263

In [ ]:

df['city'] = df.city.str.lower()
df['city'] = df.city.str.strip()
orig = {
    'mos': 'Moscow',
    'mo': 'Moscow',
    'peter': 'Saint Petersburg',
    'cherep': 'Cherepovets',
    'novosib': 'Novosibirsk',
    'ekat': 'ekaterinburg',
    'novgor': 'Novgorod',   
        }

def substitute(value):
  for k, v in orig.items():
    if str(k) in str(value):
      value = v
  return value

In [ ]:
df['city'] = df['city'].apply(substitute)
df['city'] = df.city.str.lower()

In [ ]:
check = df[df['pos_adress_lat'].isnull()].loc[:, ['city', 'pos_adress_lat', 'pos_adress_lon']]
list_index = list(check.index)
list_of_cities = check['city'].to_list()
set_of_cities = set(list_of_cities)

In [ ]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="MyApp")

In [ ]:
cities_dict = {}
for city in tqdm(set_of_cities):
  try:
    location = geolocator.geocode(f"{city}, Russia")
    cities_dict[city] = [location.latitude, location.longitude]
  except:
    cities_dict[city] = [None, None]

In [ ]:
for i in tqdm(list_index):
  try:
    df.loc[i, 'pos_adress_lat'], df.loc[i, 'pos_adress_lon'] = cities_dict[df.loc[i, 'city']][0], cities_dict[df.loc[i, 'city']][1]
  except:
    continue

Парсинг правильных названий городов

In [ ]:
df.to_csv('processed_data.csv', index=False)
datka = pd.read_csv('processed_data.csv')
datka = datka.dropna(subset=['pos_adress_lat', 'pos_adress_lon'])

In [ ]:
gathering_data = datka[datka.pos_adress_lat.isna() == False][['pos_adress_lat', 'pos_adress_lon']]
gathering_data['lat_lon'] = gathering_data['pos_adress_lat'].astype(str) +', '+ gathering_data['pos_adress_lon'].astype(str)
gathering_data = gathering_data.drop(['pos_adress_lat', 'pos_adress_lon'], axis=1)

In [ ]:
set_lat_lon = set(gathering_data.lat_lon.unique())

In [ ]:
lat_lon_dict = {}
for lat_lon in tqdm(set_lat_lon):
  try:
    location = geolocator.reverse(lat_lon, language='ru')
    location = str(location).split(',')
    loc = ','.join([location[-4], location[-3], location[-1]])
    lat_lon_dict[lat_lon] = loc
  except:
    lat_lon_dict[lat_lon] = None

In [ ]:
new_dict = {'city': [],
            'pos_adress_lat': [],
            'pos_adress_lon': []}
for k, v in tqdm(loaded_dict.items()):
  lat_lon = k.split(',')
  new_dict['city'].append(v)
  new_dict['pos_adress_lat'].append(float(lat_lon[0]))
  new_dict['pos_adress_lon'].append(float(lat_lon[1]))

In [ ]:
df1['pos_adress_lat'] = df1['pos_adress_lat'].astype(float)
df1['pos_adress_lon'] = df1['pos_adress_lon'].astype(float)
df1 = df1.drop(['city'], axis=1)
df1 = df1.merge(data_cities, on=['pos_adress_lat', 'pos_adress_lon'])
df1.to_pickle("data_with_cities.pkl")

# Парсинг погоды

In [13]:
import pickle
with open('data/data_with_cities.pkl', 'rb') as f:
    df = pickle.load(f)

In [16]:
df = df.iloc[:, 2:]

In [17]:
df

,amount,atm_address,atm_address_lat,atm_address_lon,country,currency,customer_id,home_add_lat,home_add_lon,mcc,pos_address,pos_adress_lat,pos_adress_lon,terminal_id,transaction_date,work_add_lat,work_add_lon,currency_rate,city
0,2.884034,NaN,NaN,NaN,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,Жилье,NaN,59.844072,30.179153,11606fde0c814ce78e0d726e39a0a5ee,2017-07-15,59.847,30.177,0.991001,"[ Санкт-Петербург, Северо-Западный федеральный..."
1,2.838200,NaN,NaN,NaN,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,Жилье,NaN,59.844072,30.179153,0576445d74e374c92c0902e612fca356,2017-07-15,59.847,30.177,0.991001,"[ Санкт-Петербург, Северо-Западный федеральный..."
2,2.744574,NaN,NaN,NaN,RUS,643.0,9dc6275f4f8507ec0352bd0cb6b9c96b,60.095,29.963,Пища,2 PARTIZANA GERMANA STRSANKT-PETERBU190000 ...,59.844072,30.179153,8051ce3bf5110c85960e3ed3a9bfdb4e,2017-07-15,59.956,30.237,0.991001,"[ Санкт-Петербург, Северо-Западный федеральный..."
3,3.286271,NaN,NaN,NaN,RUS,643.0,c3cf5234aef18e83afbb1edd91095b70,59.826,30.161,Пища,2 PARTIZANA GERMANA STRSANKT-PETERBU190000 ...,59.844072,30.179153,222d81c08b2eb8cd4a17556c7e82101e,2017-07-15,NaN,NaN,0.991001,"[ Санкт-Петербург, Северо-Западный федеральный..."
4,2.787498,NaN,NaN,NaN,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,Жилье,NaN,59.844072,30.179153,6c5e5793ebc984fb72875feffff62854,2017-09-09,59.847,30.177,0.951945,"[ Санкт-Петербург, Северо-Западный федеральный..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031999,3.685828,ERKHNYAYA KH\396110 RUSRUS,NaN,NaN,RUS,643.0,63517207d7a91c5dd0f2a20fdf86ad6f,55.436,37.499,Деньги,NaN,56.732242,50.230477,0a4822560cbd611fad96add54513d231,2017-03-26,55.425,37.576,0.950368,"[ Малмыжский район, Кировская область, Россия]"
1032000,3.459104,ERKHNYAYA KH\396110 RUSRUS,NaN,NaN,RUS,643.0,63517207d7a91c5dd0f2a20fdf86ad6f,55.436,37.499,Деньги,NaN,56.732242,50.230477,0a4822560cbd611fad96add54513d231,2017-03-26,55.425,37.576,0.950368,"[ Малмыжский район, Кировская область, Россия]"
1032001,3.173604,NaN,NaN,NaN,RU,643.0,68651e131d8b3fbbc7d68f5ff0922217,55.880,37.654,Деньги,NaN,55.561497,37.942271,be9dbb148c2e0d6ba176257c54db4eb2,2017-02-04,55.731,37.589,0.985860,"[ Московская область, Центральный федеральный ..."
1032002,4.530640,"BRUSELAS ESQ. C/ HELSI0015\VINA, LA \38670...",NaN,NaN,ESP,978.0,a1c6f64d3089ead596c1e46438168573,52.266,104.316,Деньги,NaN,56.149440,40.375761,3874caff1ca42106593c723f0335abd5,2017-01-31,NaN,NaN,0.997263,"[ Владимирская область, Центральный федеральны..."
1032003,3.163546,\BELEV\301530 RUSRUS,NaN,NaN,RUS,643.0,53fe7a3b172dc8b7ff928b7233533458,55.751,38.006,Деньги,NaN,53.811798,36.137001,d03db5be2f68db177efed9251e59c694,2017-01-31,55.781,37.558,0.997263,"[ Тульская область, Центральный федеральный ок..."

In [ ]:
df = df.dropna(subset=['pos_adress_lat', 'pos_adress_lon'])

In [ ]:
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily, Stations
df1 = df.copy()

In [19]:
def weather(row):
    try:
        date = datetime.fromisoformat(row['transaction_date'])
        location = Point(lat=row['pos_adress_lat'], lon=row['pos_adress_lon'])
        data = Daily(location, date, date)
        data = data.fetch().loc[:, ['tavg', 'tmin', 'tmax']]
        return data.iloc[0, 0], data.iloc[0, 1], data.iloc[0, 2]
    except:
        return None, None, None

In [ ]:
tqdm.pandas()
df1[['tavg', 
     'tmin', 
     'tmax']] = df1.progress_apply(weather, axis=1, result_type="expand")
with open('df1_weather.pkl', 'wb') as f:
    pickle.dump(df1, f)

In [ ]:
df = df1
df['ismissing'] = df[['tmin','tmax']].isna().all(axis=1)
tmin_tmax_none = list(df.loc[df['ismissing'] == True].index)
df = df.drop(tmin_tmax_none, axis=0)

In [ ]:
df['tavg'] = df['tavg'].fillna(-1000)
df['tmin'] = df['tmin'].fillna(-1000)
df['tmax'] = df['tmax'].fillna(-1000)

In [ ]:
def clean_temp(row):
    tavg = row['tavg']
    tmin = row['tmin']
    tmax = row['tmax']
    if tmin != -1000 and tmax != -1000 and tavg == -1000:
        tavg = (tmin + tmax) / 2
    return tavg

In [ ]:
tqdm.pandas()
df['tavg'] = df.progress_apply(clean_temp, axis=1)

def clean_temp(row):
    tavg = row['tavg']
    tmin = row['tmin']
    tmax = row['tmax']
    if tmin != -1000 and tavg != -1000 and tmax == -1000:
        tmax = 2 * tavg - tmin
    return tmax

tqdm.pandas()
df['tmax'] = df.progress_apply(clean_temp, axis=1)


def clean_temp(row):
    tavg = row['tavg']
    tmin = row['tmin']
    tmax = row['tmax']
    if tmin == -1000 and tavg != -1000 and tmax != -1000:
        tmin = 2 * tavg - tmax
    return tmin

tqdm.pandas()
df['tmin'] = df.progress_apply(clean_temp, axis=1)

In [ ]:
miss_tavg = list(df[df['tavg'] == -1000].index)
miss_tmin = list(df[df['tmin'] == -1000].index)
miss_tavg_tmin = []
miss_tavg_tmin += miss_tavg 
miss_tavg_tmin += miss_tmin
miss_tavg_tmin = set(miss_tavg_tmin)

In [ ]:
df = df.drop(miss_tavg_tmin, axis=0)
df[df['tmax'] == -1000]
df = df.drop(['ismissing'], axis=1)

In [ ]:
with open('df_finished.pkl', 'wb') as f:
    pickle.dump(df, f)

# Пасинг данных з/п

In [21]:
data = pd.read_csv('data/mcc_curr_city.csv')

In [23]:
wages = pd.read_excel('data/wages.xlsx', sheet_name= '2013-2018', header= [2,3], index_col=0)
wages

2013                                                   2013                    \
                                                     январь  февраль     март
Российская Федерация                                26840.1  26619.6  28692.9
Центральный федеральный округ                       32118.1  32249.7  35164.6
Белгородская область                                20381.2  19643.7  21027.2
Брянская область                                    16773.9  16632.4  17834.5
Владимирская область                                18379.5  18563.0  19203.7
...                                                     ...      ...      ...
Сахалинская область                                 44705.6  43528.2  49032.3
Еврейская авт.область                               25716.7  23360.2  25514.5
Чукотский авт.округ                                 65699.1  60540.7  68876.3
NaN                                                     NaN      NaN      NaN
 1) Южный федеральный округ без учета данных по...      NaN      NaN      NaN

2013                                                                           \
                                                     апрель      май     июнь
Российская Федерация                                30025.9  29723.0  30986.1
Центральный федеральный округ                       37138.0  35546.7  37723.0
Белгородская область                                21700.9  21905.5  22323.0
Брянская область                                    18263.5  19883.9  20178.2
Владимирская область                                19567.2  19809.7  20351.6
...                                                     ...      ...      ...
Сахалинская область                                 45810.4  47698.1  48177.8
Еврейская авт.область                               26199.7  27908.9  27982.4
Чукотский авт.округ                                 74151.1  69869.5  68135.7
NaN                                                     NaN      NaN      NaN
 1) Южный федеральный округ без учета данных по...      NaN      NaN      NaN

2013                                                                           \
                                                       июль   август сентябрь
Российская Федерация                                30228.7  29226.3  29345.5
Центральный федеральный округ                       37394.0  35277.9  35156.4
Белгородская область                                23128.5  22271.2  21870.4
Брянская область                                    19034.5  19197.6  18717.6
Владимирская область                                20783.7  20593.7  20037.2
...                                                     ...      ...      ...
Сахалинская область                                 49516.9  48364.9  49119.0
Еврейская авт.область                               27093.3  25652.8  25894.6
Чукотский авт.округ                                 69493.7  67369.7  66379.0
NaN                                                     NaN      NaN      NaN
 1) Южный федеральный округ без учета данных по...      NaN      NaN      NaN

2013                                                         ...  \
                                                    октябрь  ...
Российская Федерация                                30069.0  ...
Центральный федеральный округ                       36209.0  ...
Белгородская область                                22496.2  ...
Брянская область                                    19577.7  ...
Владимирская область                                20824.6  ...
...                                                     ...  ...
Сахалинская область                                 48702.9  ...
Еврейская авт.область                               27166.1  ...
Чукотский авт.округ                                 66437.5  ...
NaN                                                     NaN  ...
 1) Южный федеральный округ без учета данных по...      NaN  ...

2013                                                        2018  \
                                                            март
Российская Федерация                                42363.573197
Центральный федеральный округ                       53771.108479
Белгородская область                                30092.120040
Брянская область                                    25772.943631
Владимирская область                                29543.866413
...                                                          ...
Сахалинская область                                 71123.624171
Еврейская авт.область                               37680.249081
Чукотский авт.округ                                 99784.422244
NaN                                                          NaN
 1) Южный федеральный округ без учета данных по...           NaN

2013                                                               \
                                                           апрель
Российская Федерация                                 43381.051689
Центральный федеральный округ                        56192.142999
Белгородская область                                 31477.559109
Брянская область                                     26218.157759
Владимирская область                                 29425.484793
...                                                           ...
Сахалинская область                                  70909.658249
Еврейская авт.область                                37004.568845
Чукотский авт.округ                                 101383.033832
NaN                                                           NaN
 1) Южный федеральный округ без учета данных по...            NaN

2013                                                               \
                                                              май
Российская Федерация                                 44075.537537
Центральный федеральный округ                        53566.574932
Белгородская область                                 31179.394927
Брянская область                                     29552.233919
Владимирская область                                 31177.147074
...                                                           ...
Сахалинская область                                  78170.839596
Еврейская авт.область                                39900.765247
Чукотский авт.округ                                 105183.249881
NaN                                                           NaN
 1) Южный федеральный округ без учета данных по...            NaN

2013                                                              \
                                                           июнь
Российская Федерация                                45848.077648
Центральный федеральный округ                       58177.204035
Белгородская область                                31947.007286
Брянская область                                    29209.524124
Владимирская область                                33806.067775
...                                                          ...
Сахалинская область                                 75922.647905
Еврейская авт.область                               40315.840182
Чукотский авт.округ                                 99984.071654
NaN                                                          NaN
 1) Южный федеральный округ без учета данных по...           NaN

2013                                                              \
                                                            июль
Российская Федерация                                42413.465177
Центральный федеральный округ                       52984.806847
Белгородская область                                32422.184653
Брянская область                                    26891.589526
Владимирская область                                31565.289709
...                                                          ...
Сахалинская область                                 74849.744258
Еврейская авт.область                               38416.146820
Чукотский авт.округ                                 97954.630398
NaN                                                          NaN
 1) Южный федеральный округ без учета данных по...           NaN

2013                                                              \
                                                          август
Российская Федерация                                41363.600671
Центральный федеральный округ                       51383.060017
Белгородская область                                31603.086760
Брянская область                                    27094.764072
Владимирская область                                31510.741043
...                                                          ...
Сахалинская область                                 73389.077156
Еврейская авт.область                               36888.718792
Чукотский авт.округ                                 91654.168847
NaN                                                          NaN
 1) Южный федеральный округ без учета данных по...           NaN

2013                                                              \
                                                        сентябрь
Российская Федерация                                41774.303366
Центральный федеральный округ                       51529.217602
Белгородская область                                30909.676470
Брянская область                                    26484.910603
Владимирская область                                31431.942284
...                                                          ...
Сахалинская область                                 73315.690888
Еврейская авт.область                               38348.739110
Чукотский авт.округ                                 91481.505899
NaN                                                          NaN
 1) Южный федеральный округ без учета данных по...           NaN

2013                                                              \
                                                         октябрь
Российская Федерация                                42331.668715
Центральный федеральный округ                       52715.114811
Белгородская область                                31823.450615
Брянская область                                    26892.199954
Владимирская область                                31423.128169
...                                                          ...
Сахалинская область                                 73042.597875
Еврейская авт.область                               38439.861784
Чукотский авт.округ                                 94265.115994
NaN                                                          NaN
 1) Южный федеральный округ без учета данных по...           NaN

2013                                                              \
                                                          ноябрь
Российская Федерация                                42595.005330
Центральный федеральный округ                       52642.495123
Белгородская область                                31162.800891
Брянская область                                    27402.825768
Владимирская область                                31646.622972
...                                                          ...
Сахалинская область                                 73260.912303
Еврейская авт.область                               39796.725242
Чукотский авт.округ                                 96929.965652
NaN                                                          NaN
 1) Южный федеральный округ без учета данных по...           NaN

2013
                                                          декабрь
Российская Федерация                                 55569.330224
Центральный федеральный округ                        71661.794213
Белгородская область                                 37577.386047
Брянская область                                     32254.503080
Владимирская область                                 38008.974896
...                                                           ...
Сахалинская область                                  92818.553933
Еврейская авт.область                                50289.200218
Чукотский авт.округ                                 120154.774412
NaN                                                           NaN
 1) Южный федеральный округ без учета данных по...            NaN

[99 rows x 72 columns]

In [ ]:
wages = wages[2017]
data['transaction_date'] = pd.to_datetime(data['transaction_date'])
replace_nums = {1:'январь', 2:'февраль', 3:'март', 4:'апрель', 5:'май', 6:'июнь', 7:'июль', 8:'август', 9:'сентябрь',
               10:'октябрь', 11:'ноябрь', 12:'декабрь'}

data['month'] = data.transaction_date.apply(lambda x: x.month)
data['month'] = data.month.replace(replace_nums)
mask = [True for region, city in zip(data.region, data.city) if region or city in wages.index]
mask = wages.index.notna()
wages = wages[mask]
wages.index = [ind.strip() for ind in wages.index]
wages_ind = [ "_".join(ind) for ind in wages.stack().index]

In [ ]:
wages = wages.stack()
wages.index = wages_ind
wages = pd.DataFrame(wages).reset_index()

wages.columns = ['region', 'wage']

data['region'] = data.region + '_' + data.month

In [ ]:
data = pd.merge(data, wages, on = 'region')

In [ ]:
replace_season = {'январь':'зима', 'февраль':'зима', 'март':'весна', 'апрель':"весна", 'май':"весна", 'июнь':"лето", 'июль':"лето", 'август':"лето", 'сентябрь':"осень",
               'октябрь':"осень", 'ноябрь':"осень", 'декабрь':"зима"}
data['month'] = data.month.replace(replace_season)

In [ ]:
data.drop(['Unnamed: 0', 'country'], axis = 1, inplace = True)
data.to_csv('data_hope_final.csv')